<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,110}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{101,110}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{101,108}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{101,108}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{97,104}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{97,104}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{99,96}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{99,96}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,299},{97,102}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{97,102}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,105},{95,108}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{95,108}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,400},{97,98}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{97,98}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,202},{95,104}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{95,104}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{97,104}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{97,104}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{99,96}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{99,96}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,299},{97,102}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{97,102}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{95,108}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{95,108}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>butterfly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{97,100}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{97,100}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_src_2D_butterfly_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73004de9ae117ad34fbcd09bac939f1f$</string>
            <key>textureFileName</key>
            <string>obj_src_2D_butterfly_1.png</string>
        </dict>
    </dict>
</plist>
