<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_sprites_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{61,54}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>icon_sprites_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{47,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{47,40}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_src_2D_icon_sprites_1.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fec9b211f5878b01d2a7c3dcac2a99d$</string>
            <key>textureFileName</key>
            <string>obj_src_2D_icon_sprites_1.png</string>
        </dict>
    </dict>
</plist>
