<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_right_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{316,192}}</string>
                <key>offset</key>
                <string>{-17,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{316,192}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{320,186}}</string>
                <key>offset</key>
                <string>{-11,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{320,186}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{318,192}}</string>
                <key>offset</key>
                <string>{-15,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{318,192}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{316,192}}</string>
                <key>offset</key>
                <string>{-16,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{316,192}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,510},{316,186}}</string>
                <key>offset</key>
                <string>{-15,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{316,186}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,190},{318,186}}</string>
                <key>offset</key>
                <string>{-12,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{318,186}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
            <key>flower_right_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,186}}</string>
                <key>offset</key>
                <string>{-11,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{322,186}}</string>
                <key>sourceSize</key>
                <string>{354,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_src_2D_flower_right_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70cc391b8c61e7be75bc8af0ca1a32ab$</string>
            <key>textureFileName</key>
            <string>obj_src_2D_flower_right_2.png</string>
        </dict>
    </dict>
</plist>
