<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{108,61}}</string>
                <key>offset</key>
                <string>{-23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,103},{108,61}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{416,223}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{416,223}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,241},{426,231}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{426,231}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{428,237}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{428,237}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,241}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{434,241}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{312,169}}</string>
                <key>offset</key>
                <string>{-31,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,59},{312,169}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,65},{198,105}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,70},{198,105}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,683},{310,163}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{310,163}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,683},{368,193}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{368,193}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
            <key>star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{400,211}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{400,211}}</string>
                <key>sourceSize</key>
                <string>{438,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_src_2D_star_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7ddb2ba03de6494639e2d0bcb833698$</string>
            <key>textureFileName</key>
            <string>obj_src_2D_star_1.png</string>
        </dict>
    </dict>
</plist>
